.FStrField{
    border: 2px solid blue;
}


.FStrField-primary{
    border-left: 2px solid cadetblue;
}

.FStrField-secondary{
    border-left: 2px solid slateblue;
}

.FStrField-error{
    border-left: 2px solid red;
}